.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
}

.btn-open {
  display: block;
  position: absolute;
  top: 290px;
  padding: 10px 10px;
  display: inline-block;
  color: #008000;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  overflow: hidden;
}

.btn-open:hover {
  color: white;
  background: #39ff14;
  box-shadow: 0 0 50px #39ff14;
}
.modal-container-inner {
  width: 500px;
  height: 350px;
  background-color: white;
  padding: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.btn-closed {
  color: red;
  display: flex;
  float: right;
}
.btn-closed:hover {
  color: #111;
  background: #39ff14;
  box-shadow: 0 0 50px #39ff14;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  margin: 10px;
  color: green;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  margin: 20px;
  color: black;
}
.footer {
  position: absolute;
  top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1 em;
  margin: 2px;
  color: green;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-container-small {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
}
.modal-container-inner-small {
  width: 250px;
  height: 450px;
  background-color: white;
  padding: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.title {
  font-size: 14px;
  margin-top: 10px;
}

.body {
  font-size: 20px;
  text-align: center;
}

.footer {
  font-size: 20px;
  text-align: center;
}
